# Neon Postgres Database Connection String
VITE_NEON_DATABASE_URL=postgresql://neondb_owner:npg_yPtlkDGN4n9H@ep-misty-voice-awayrdnc-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require